DuplexClient/DuplexClient/Connected Services/PayloadService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PayloadService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PayloadService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PayloadConfig">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PayloadConfig" nillable="true" type="tns:PayloadConfig" />
  <xs:complexType name="TelemetryData">
    <xs:sequence>
      <xs:element minOccurs="0" name="altitude" type="xs:int" />
      <xs:element minOccurs="0" name="latitude" type="xs:double" />
      <xs:element minOccurs="0" name="longtitude" type="xs:double" />
      <xs:element minOccurs="0" name="temperature" type="xs:int" />
      <xs:element minOccurs="0" name="timeToOrbit" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TelemetryData" nillable="true" type="tns:TelemetryData" />
  <xs:complexType name="PayloadData">
    <xs:sequence>
      <xs:element minOccurs="0" name="com" nillable="true" type="tns:Communication" />
      <xs:element minOccurs="0" name="imageByte" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="sci" nillable="true" type="tns:Scientific" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PayloadData" nillable="true" type="tns:PayloadData" />
  <xs:complexType name="Communication">
    <xs:sequence>
      <xs:element minOccurs="0" name="Downlink" type="xs:int" />
      <xs:element minOccurs="0" name="Uplink" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Communication" nillable="true" type="tns:Communication" />
  <xs:complexType name="Scientific">
    <xs:sequence>
      <xs:element minOccurs="0" name="Humidity" type="xs:int" />
      <xs:element minOccurs="0" name="Rain" type="xs:int" />
      <xs:element minOccurs="0" name="Snow" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Scientific" nillable="true" type="tns:Scientific" />
</xs:schema>