DuplexClient/DuplexClient/Connected Services/PayloadService/PayloadService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PayloadService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IPayloadService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PayloadService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPayloadService_StartTelemetry_InputMessage">
    <wsdl:part name="parameters" element="tns:StartTelemetry" />
  </wsdl:message>
  <wsdl:message name="IPayloadService_StopTelemetry_InputMessage">
    <wsdl:part name="parameters" element="tns:StopTelemetry" />
  </wsdl:message>
  <wsdl:message name="IPayloadService_LaunchPayload_InputMessage">
    <wsdl:part name="parameters" element="tns:LaunchPayload" />
  </wsdl:message>
  <wsdl:message name="IPayloadService_StartData_InputMessage">
    <wsdl:part name="parameters" element="tns:StartData" />
  </wsdl:message>
  <wsdl:message name="IPayloadService_StopData_InputMessage">
    <wsdl:part name="parameters" element="tns:StopData" />
  </wsdl:message>
  <wsdl:message name="IPayloadService_PayloadProcess_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PayloadProcess" />
  </wsdl:message>
  <wsdl:message name="IPayloadService_PayloadProcessData_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PayloadProcessData" />
  </wsdl:message>
  <wsdl:portType name="IPayloadService">
    <wsdl:operation name="StartTelemetry">
      <wsdl:input wsaw:Action="http://tempuri.org/IPayloadService/StartTelemetry" message="tns:IPayloadService_StartTelemetry_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopTelemetry">
      <wsdl:input wsaw:Action="http://tempuri.org/IPayloadService/StopTelemetry" message="tns:IPayloadService_StopTelemetry_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LaunchPayload">
      <wsdl:input wsaw:Action="http://tempuri.org/IPayloadService/LaunchPayload" message="tns:IPayloadService_LaunchPayload_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartData">
      <wsdl:input wsaw:Action="http://tempuri.org/IPayloadService/StartData" message="tns:IPayloadService_StartData_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopData">
      <wsdl:input wsaw:Action="http://tempuri.org/IPayloadService/StopData" message="tns:IPayloadService_StopData_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PayloadProcess">
      <wsdl:output wsaw:Action="http://tempuri.org/IPayloadService/PayloadProcess" message="tns:IPayloadService_PayloadProcess_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="PayloadProcessData">
      <wsdl:output wsaw:Action="http://tempuri.org/IPayloadService/PayloadProcessData" message="tns:IPayloadService_PayloadProcessData_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IPayloadService" type="tns:IPayloadService">
    <wsp:PolicyReference URI="#NetTcpBinding_IPayloadService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="StartTelemetry">
      <soap12:operation soapAction="http://tempuri.org/IPayloadService/StartTelemetry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="StopTelemetry">
      <soap12:operation soapAction="http://tempuri.org/IPayloadService/StopTelemetry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="LaunchPayload">
      <soap12:operation soapAction="http://tempuri.org/IPayloadService/LaunchPayload" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="StartData">
      <soap12:operation soapAction="http://tempuri.org/IPayloadService/StartData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="StopData">
      <soap12:operation soapAction="http://tempuri.org/IPayloadService/StopData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="PayloadProcess">
      <soap12:operation soapAction="http://tempuri.org/IPayloadService/PayloadProcess" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PayloadProcessData">
      <soap12:operation soapAction="http://tempuri.org/IPayloadService/PayloadProcessData" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PayloadService">
    <wsdl:port name="NetTcpBinding_IPayloadService" binding="tns:NetTcpBinding_IPayloadService">
      <soap12:address location="net.tcp://localhost:9000/PayloadService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9000/PayloadService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-P7GU466\44266</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>