DuplexClient/DuplexClient/Connected Services/ReportService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ReportService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ReportService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LaunchVehicleConfig">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orbit" type="xs:int" />
      <xs:element minOccurs="0" name="PayloadConfig" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LaunchVehicleConfig" nillable="true" type="tns:LaunchVehicleConfig" />
  <xs:complexType name="TelemetryData">
    <xs:sequence>
      <xs:element minOccurs="0" name="altitude" type="xs:int" />
      <xs:element minOccurs="0" name="latitude" type="xs:double" />
      <xs:element minOccurs="0" name="longtitude" type="xs:double" />
      <xs:element minOccurs="0" name="temperature" type="xs:int" />
      <xs:element minOccurs="0" name="timeToOrbit" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TelemetryData" nillable="true" type="tns:TelemetryData" />
</xs:schema>