DuplexClient/DuplexClient/Connected Services/ReportService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ReportService" />
  <xs:element name="StartTelemetry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serviceInd" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ReportService" minOccurs="0" name="LVconfig" nillable="true" type="q1:LaunchVehicleConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopTelemetry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serviceInd" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ReportService" minOccurs="0" name="LVconfig" nillable="true" type="q2:LaunchVehicleConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LaunchVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serviceInd" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ReportService" minOccurs="0" name="LVconfig" nillable="true" type="q3:LaunchVehicleConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Progress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ReportService" minOccurs="0" name="telemetry" nillable="true" type="q4:TelemetryData" />
        <xs:element minOccurs="0" name="serviceInd" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reachOrbit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serviceInd" type="xs:int" />
        <xs:element minOccurs="0" name="latitude" type="xs:int" />
        <xs:element minOccurs="0" name="longtitude" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>